<html>
<head>
  <title>Hacker News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/sidebar.css">
  <link rel="stylesheet" href="../css/core.css">
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                  <img id="logo" src="../images/logo.png">
                </a>
            </li>
            <li>
                <a href="#" class="page-links" id="top">Top Stories</a>
            </li>
            <li>
                <a href="#" class="page-links" id="new">New Stories</a>
            </li>
            <li>
                <a href="#" class="page-links" id="best">Best Stories</a>
            </li>
            <li>
                <a href="#" class="page-links" id="show">Show</a>
            </li>
            <li>
                <a href="#" class="page-links" id="jobs">Jobs</a>
            </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
      <div id="overlay1">
        <center>
         <img class="img-responsive" style="margin-top:22%;" src="images/728.gif">
       </center>
      </div>
      <h2> Welcome to Hacker News</h2>
      <a href="#menu-toggle" class="btn btn-default" data-spy="affix" id="menu-toggle"><span class="glyphicon glyphicon-list"></span> Menu</a>
      <br>
      <div class="container-fluid">
        <div class="post-list table-responsive">
          <table border="0" cellpadding="0" cellspacing="0" class="itemlist table">
            <tbody id="content-table">
            </tbody>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/fetch.js"></script>
</body>
</html>
