<html>
<head>
  <title>Hacker News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <script src="../js/jquery.min.js"></script>
  <style>
  body { padding-top: 70px; }
  img{
    max-width:100%;
    max-height:100%;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="../images/logo.png"></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Top Stories</a></li>
        <li><a href="#">New Stories</a></li>
        <li><a href="#">Best Stories</a></li>
      </ul>
    </div>
  </nav>
  <div class="container" id="json-output">
  </div>
  <script>
  $( document ).ready(function() {
    $.get("/topstories", function(data, status){
      $( "#json-output" ).html(data);
    });
  });
  </script>
</body>
</html>
