<html>
<head>
  <title>Hacker News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/sidebar.css">
  <link rel="stylesheet" href="../css/core.css">
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                  <img id="logo" src="../images/logo.png">
                </a>
            </li>
            <li>
                <a href="#" id="top" onclick="load(1,event)">Top Stories</a>
            </li>
            <li>
                <a href="#" id="new" onclick="load(1,event)">New Stories</a>
            </li>
            <li>
                <a href="#" id="best" onclick="load(1,event)">Best Stories</a>
            </li>
            <li>
                <a href="#" id="show" onclick="load(1,event)">Show</a>
            </li>
            <li>
                <a href="#" id="jobs" onclick="load(1,event)">Jobs</a>
            </li>
        </ul>
        <a href="#menu-toggle" class="btn btn-default" data-spy="affix" id="menu-toggle1"><span class="glyphicon glyphicon-list"></span> Close</a>
    </div>
    <div id="page-content-wrapper">
      <div id="overlay1">
        <center>
         <img class="img-responsive" style="margin-top:22%;" src="images/728.gif">
       </center>
      </div>
      <h2 id="heading"> Welcome to Hacker News</h2>
      <a href="#menu-toggle" class="btn btn-default" data-spy="affix" id="menu-toggle"><span class="glyphicon glyphicon-list"></span> Menu</a>
      <br>
      <div class="post-list container">
      </div>
    </div>
  </div>
  <script src="../js/fetch1.js"></script>
</body>
</html>
